{
    "beacon": {
        "aa:bb:cc:dd:ee:ff": {
            "enabled": true,
            "name": "iPhone",
            "output": [
                "twinkle lights",
                "desk light",
                "blue LED"
            ]
        },
        "11:22:33:44:55:66": {
            "enabled": true,
            "name": "laptop",
            "output": [
                "twinkle lights",
                "desk light",
                "blue LED"
            ]
        }
    },
    "output": {
        "blue LED": {
            "enabled": true,
            "name": "LED",
            "pin": "D2",
            "timeout": 900,
            "type": "led"
        },
        "desk light": {
            "client_id": "aaaaaaaaaaaaaaaaaaaa",
            "client_secret": "bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb",
            "device_id": "cccccccccccccccccccccc",
            "enabled": true,
            "name": "switch_1",
            "server": "https://openapi.tuyaus.com",
            "timeout": 900,
            "type": "tuya"
        },
        "twinkle lights": {
            "client_id": "dddddddddddddddddddd",
            "client_secret": "eeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee",
            "device_id": "ffffffffffffffffffff",
            "enabled": true,
            "name": "switch_1",
            "server": "https://openapi.tuyaus.com",
            "timeout": 900,
            "type": "tuya"
        }
    },
    "wifi": {
        "hotspot1": "xxxxxxxxxxxxx",
        "hotspot2": "yyyyyyyyyyyyy"
    }
}
